.Location {
    margin-top: -60px;
    margin-left: 180px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: absolute;
    top: 240px;
    z-index: 2;
  }
  .Location h1 {
    font-weight: 600;
  }
  .Location p {
    letter-spacing: 2px;
  }
  .line {
    width: 0.3px;
    height: 60px;
    background-color: hsl(0, 4%, 78%);
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .info h1 {
    margin: 3px;
    font-size: 20px;
  }
@media(max-width:530px){
  .Location {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: absolute;
    top: 200px;
     right: 50px;
    z-index: 2;
  }
  .Location h1 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  .Location p {
    margin: 2px;
    letter-spacing: 2px;
    font-size: 15px;
  }
  .line {
    display: none;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .info h1 {
    font-size: 16px;
    margin: 3px;
    font-size: 20px;
  }
}